# Stellar Soroban Testnet — copy to .env or set in Vercel/Netlify
VITE_NETWORK=TESTNET
VITE_CONTRACT_ID=
VITE_EXAMPLE_TX_HASH=
VITE_RPC_URL=https://soroban-testnet.stellar.org
VITE_HORIZON_URL=https://horizon-testnet.stellar.org
VITE_TOKEN_ADDRESS=CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC
